<!doctype html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7722718-13"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); gtag('config', 'UA-7722718-13');</script>
    
    <meta charset="utf-8"/>
    <meta name='date' content='2024-09-12T03:56:18.3421610Z'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="/img/logo.svg">
    <title>Custom Forms</title>
    <script>
    if (location.search === "?dark") localStorage.setItem('color-scheme','dark') 
    if (location.search === "?light") localStorage.removeItem('color-scheme') 
    const cls = document.querySelector('html').classList
    if (localStorage.getItem('color-scheme') === 'dark')
        cls.add('dark')
    else
        cls.remove('dark')
    </script>
    <link rel="stylesheet" href="/css/app.css">
    

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
{
    "imports": {
        "app.mjs": "/mjs/app.mjs",
        "vue": "/lib/mjs/vue.min.mjs",
        "@servicestack/client": "/lib/mjs/servicestack-client.min.mjs",
        "@servicestack/vue": "/lib/mjs/servicestack-vue.min.mjs"
    }
}
</script>
</head>
<body class="bg-white dark:bg-black dark:text-white">

<header id="header" class="top-0 fixed z-50 h-14 bg-white dark:bg-black opacity-90 w-full shadow">
  <nav class="border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-black">
    <div class="mx-auto max-w-[100rem] pr-4 sm:pr-6 lg:pr-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex flex-shrink-0 items-center">
            <a class="mr-2 lg:mr-8 flex items-center" href="/">
                <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
                <span class="hidden sm:block text-2xl font-semibold">Documentation</span>
            </a>
          </div>
            <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-4 lg:space-x-8">
                <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                        <a href="/templates/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            <span class="hidden xl:inline mr-1">Project</span> Templates
                        </a>
                        <a href="/vue/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Vue
                        </a>
                        <a href="/autoquery/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            AutoQuery
                        </a>
                        <a href="/auth/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Auth
                        </a>
                        <a href="/ormlite/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            OrmLite
                        </a>
                        <a href="/redis/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Redis
                        </a>
                        <a href="/locode/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-indigo-500 text-gray-900 hidden lg:inline-flex">
                            Locode
                        </a>
                        <a href="/grpc/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200 hidden lg:inline-flex">
                            gRPC
                        </a>
            </div>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:items-center">
            <typesense></typesense>
            <dark-mode-toggle class="ml-2 w-10"></dark-mode-toggle>
        </div>
        <div class="-mr-2 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button type="button" v-on:click="open=!open" class="inline-flex items-center justify-center rounded-md bg-white dark:bg-black p-2 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:ring-offset-black" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg :class="['h-6 w-6', open ? 'hidden' : 'block']" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg :class="['h-6 w-6', open ? 'block' : 'hidden']" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div v-cloak v-if="open" class="sm:hidden">
        <div class="space-y-1 pb-3 pt-2">
            <!-- Current: "border-indigo-500 bg-indigo-50 text-indigo-700", Default: "border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" -->
                    <a href="/templates/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Project Templates
                    </a>
                    <a href="/vue/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Vue
                    </a>
                    <a href="/autoquery/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        AutoQuery
                    </a>
                    <a href="/auth/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Auth
                    </a>
                    <a href="/ormlite/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        OrmLite
                    </a>
                    <a href="/redis/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Redis
                    </a>
                    <a href="/locode/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-indigo-500 bg-indigo-50 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-200">
                        Locode
                    </a>
                    <a href="/grpc/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        gRPC
                    </a>
        </div>
    </div>
  </nav>
</header>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"

const Header = {
    setup() {
        const open = ref(false)
        return { open }
    }
}
mount('#header', Header)
</script>


<div class="min-h-screen">
    <main role="main" class="pt-16 pb-3 max-w-[100rem] mx-auto">
        



<style>
.active {
    color: #0ea5e9 !important;
}
</style>
<link rel="stylesheet" href="/css/highlight.css">
<link rel="stylesheet" href="/css/typography.css">
<link rel="stylesheet" href="/css/lite-yt-embed.css">

<div class="w-full max-w-[100rem] mx-auto">
    <div class="flex flex-wrap">
        <div id="sidebar" class="z-40 inset-0 flex-none bg-white dark:bg-black lg:w-64 xl:w-80">
            <button v-cloak v-on:click="open=true" :class="['text-gray-400 hover:text-gray-500 pt-4 pl-2 absolute transform transition-all duration-200', open ? 'opacity-0 translate-x-56' : 'opacity-100']" title="Open Sidebar">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H10m10 0l-4 4m4-4l-4-4M4 4v16"/></svg>
            </button>
            <div :class="['fixed bg-white dark:bg-black h-screen overflow-y-auto scrolling-touch overflow-hidden shadow lg:shadow-none transform transition-transform duration-200', open ? '' : 'translate-x-[-100%]']">
                <nav class="sidebar lg:w-64 xl:w-80 px-1 pt-6 pb-16 overflow-y-auto font-medium text-sm lg:text-base sm:px-3 xl:px-5" aria-label="Sidebar">
                    <close-button title="Close Sidebar" class="lg:hidden -mr-2" v-on:close="open=false"></close-button>
                                <a href="/locode/" class="block flex items-center whitespace-nowrap">
<svg class='h-6 w-6 shrink-0 text-sky-500' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true'><path stroke-linecap='round' stroke-linejoin='round' d='M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25'></path></svg>                                    <span class="p-2 pl-3 font-display font-medium text-slate-900 dark:text-white">
Locode                                    </span>
                                </a>
                        <ul role="list" class="mb-6 mt-2 ml-3 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                                <li class="relative">
                                    <a href="/locode/database-first" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Database-First
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/code-first" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Code-First
                                    </a>
                                </li>
                        </ul>
                                <h2 class="font-display font-medium text-slate-900 dark:text-white whitespace-nowrap">
                                    C# Development Model
                                </h2>
                        <ul role="list" class="mb-6 mt-2 ml-3 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                                <li class="relative">
                                    <a href="/locode/declarative" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Declarative Attributes
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/programmatic" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Code Customizations
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/branding" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Branding &amp; Appearance
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/formatters" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Format Functions
                                    </a>
                                </li>
                        </ul>
                                <h2 class="font-display font-medium text-slate-900 dark:text-white whitespace-nowrap">
                                    Custom HTML/JS
                                </h2>
                        <ul role="list" class="mb-6 mt-2 ml-3 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                                <li class="relative">
                                    <a href="/locode/custom-overview" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Overview
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/custom-autoquerygrid" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Custom AutoQueryGrid
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/custom-forms" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full active font-semibold text-sky-500 before:bg-sky-500">
                                        Custom Forms
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/custom-components" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Custom Components
                                    </a>
                                </li>
                        </ul>
                                <h2 class="font-display font-medium text-slate-900 dark:text-white whitespace-nowrap">
                                    File Management
                                </h2>
                        <ul role="list" class="mb-6 mt-2 ml-3 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                                <li class="relative">
                                    <a href="/locode/files-overview" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Overview
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/files-blazor" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        File Blazor Demo
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/files-upload-filesystem" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        File System
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/files-upload-aws" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        AWS
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/files-upload-azure" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Azure
                                    </a>
                                </li>
                        </ul>
                                <h2 class="font-display font-medium text-slate-900 dark:text-white whitespace-nowrap">
                                    Features
                                </h2>
                        <ul role="list" class="mb-6 mt-2 ml-3 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                                <li class="relative">
                                    <a href="/locode/auditing" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Auditing
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/locode/advanced" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Advanced
                                    </a>
                                </li>
                        </ul>
                </nav>
            </div>
        </div>
        <div id="doc" class="mx-auto flex">
            <div class="mt-8 mx-auto prose lg:prose-lg">
                
                    <section class="not-prose mb-16 md:mb-12">
                        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl">
                            Custom Forms
                        </h1>
                    </section>

                <div class="not-prose"></div>

                <div class="content"><p>To override Locode's built-in Form UI you can add custom <a href="https://vuejs.org/guide/essentials/component-basics.html">Vue components</a>
to your Host Project <strong>/wwwroot</strong> folder at <code>/modules/locode/components/*.mjs</code> using the naming conventions below:</p>
<table>
<thead>
<tr>
<th>Component Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>New{Table}</code></td>
<td>Custom Create Form UI</td>
</tr>
<tr>
<td><code>Edit{Table}</code></td>
<td>Custom Update Form UI</td>
</tr>
</tbody>
</table>
<p>The <a href="https://chinook.locode.dev">chinook.locode.dev</a> demo does this to create a custom Form UI for creating and
editing Albums by registering <code>NewAlbums</code> in <a href="https://github.com/NetCoreApps/Chinook/blob/main/Chinook/wwwroot/modules/locode/components/NewAlbums.mjs">NewAlbums.mjs</a>
and <code>EditAlbums</code> component in <a href="https://github.com/NetCoreApps/Chinook/blob/main/Chinook/wwwroot/modules/locode/components/EditAlbums.mjs">EditAlbums.mjs</a>
which are used to render Chinook's <a href="https://chinook.locode.dev/locode/QueryAlbums?create">custom Create Album form</a>
to update its <code>Albums</code> table.</p>
<h2 id="built-in-app-functionality">Built-in App functionality<a class="header-anchor" href="javascript:;" onclick="location.hash='#built-in-app-functionality'" aria-label="Permalink">&ZeroWidthSpace;</a></h2>
<h3 id="javascript-libraries">JavaScript Libraries<a class="header-anchor" href="javascript:;" onclick="location.hash='#javascript-libraries'" aria-label="Permalink">&ZeroWidthSpace;</a></h3>
<p>Your custom components can utilize built in libraries embedded in ServiceStack.dll where they will have access to the latest <a href="https://vuejs.org/guide/introduction.html">Vue 3</a> reactive fx, <a href="/javascript-client">@servicestack/client</a> client library and <a href="/vue/">Vue 3 Tailwind Component library</a> which they can import by package name, e.g:</p>
<pre><code class="language-js">import { ref } from &quot;vue&quot;
import { useClient } from &quot;@servicestack/vue&quot;
import { humanify } from &quot;@servicestack/client&quot;
</code></pre>
<h4 id="static-analysis">Static Analysis<a class="header-anchor" href="javascript:;" onclick="location.hash='#static-analysis'" aria-label="Permalink">&ZeroWidthSpace;</a></h4>
<p>As all package dependencies are written in TypeScript you can install them as dev dependencies to get static analysis from its TypeScript definitions at dev time:</p>
<pre><code class="language-bash">npm install -D vue
npm install -D @servicestack/client
npm install -D @servicestack/vue
</code></pre>
<p>Your components can access your Apps Typed DTOs directly from the <a href="/javascript-add-servicestack-reference">ES6 Module DTO endpoint</a> at <code>/types/mjs</code>, e.g:</p>
<pre><code class="language-js">import { CreateAlbums } from &quot;/types/mjs&quot;
</code></pre>
<h3 id="app-functionality">App functionality<a class="header-anchor" href="javascript:;" onclick="location.hash='#app-functionality'" aria-label="Permalink">&ZeroWidthSpace;</a></h3>
<p>Your components access to most App functionality via the injected dependencies for functionality defined in Locode's <a href="https://github.com/ServiceStack/ServiceStack/blob/main/ServiceStack/tests/NorthwindAuto/locode/lib/app.mjs">app.mjs</a>:</p>
<pre><code class="language-js">const app = inject('app')                  // App for customizing Vue App, register components, providers, plugins, etc
const client = inject('client')            // JsonServiceClient for API Calls
const server = inject('server')            // AppMetadata (metadata for your Server App and APIs)
const store = inject('store')              // Locode's Reactive object model
const routes = inject('routes')            // usePageRoutes() Reactive store to manage its SPA routing
const breakpoints = inject('breakpoints')  // useBreakpoints() Reactive store to Tailwind responsive breakpoints
</code></pre>
<p>Most of which creates instance of common library features in <a href="https://github.com/ServiceStack/ServiceStack/blob/main/ServiceStack/tests/NorthwindAuto/wwwroot/js/core.mjs">core.mjs</a> that are documented at <a href="https://api.locode.dev/modules/locode.html">api.locode.dev/modules/locode.html</a>.</p>
<p>You're also not limited with what's in Locode, with full access to <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules">JavaScript Modules</a>
you can import external 3rd Party packages the same way you import built-in packages.</p>
<h3 id="code-walkthrough">Code walkthrough<a class="header-anchor" href="javascript:;" onclick="location.hash='#code-walkthrough'" aria-label="Permalink">&ZeroWidthSpace;</a></h3>
<p>Your components will have full control to implement their desired functionality how they want, which can get a lot of integrated functionality for free by leveraging the <a href="/vue/">Vue Component library</a>, e.g. this custom component uses:</p>
<ul>
<li><a href="/vue/gallery/modals">ModalDialog</a> - to load our custom Create Albums Form component in a Modal Dialog</li>
<li><a href="/vue/gallery/alerts">ErrorSummary</a> - to display any non-contextual summary API errors</li>
<li><a href="/vue/gallery/form-inputs">TextInput</a> - to create a validation bound form for the <code>CreateAlbums</code> <strong>Title</strong> property</li>
<li><a href="/vue/gallery/form-inputs">LookupInput</a> - to create a Lookup input to select an Artist for the <code>CreateAlbums</code> <strong>ArtistId</strong> property</li>
</ul>
<p>Whilst <code>&lt;SubmitAlbumButton&gt;</code> is an example of using a shared component in
<a href="https://github.com/NetCoreApps/Chinook/blob/main/Chinook/wwwroot/modules/locode/components/SubmitAlbumButton.mjs">SubmitAlbumButton.mjs</a>.</p>
<pre><code class="language-js">import { ref } from &quot;vue&quot;
import { useClient, useMetadata } from &quot;@servicestack/vue&quot;
import { CreateAlbums } from &quot;/types/mjs&quot;

export const NewAlbums = {
    template:/*html*/`
    &lt;ModalDialog @done=&quot;done&quot; sizeClass=&quot;&quot;&gt;
      &lt;div class=&quot;album-form relative flex flex-col&quot;&gt;
        &lt;ErrorSummary except=&quot;title,artistId&quot;/&gt;
        &lt;form @submit.prevent=&quot;submit&quot; class=&quot;m-4 shadow-md rounded-full w-96 h-96 flex justify-center items-center&quot;&gt;
          &lt;div class=&quot;flex flex-col justify-center items-center text-center&quot;&gt;
            &lt;h1 class=&quot;text-3xl font-medium text-rose-500 mb-4&quot;&gt;New Album&lt;/h1&gt;
            &lt;fieldset&gt;
              &lt;TextInput id=&quot;title&quot; v-model=&quot;request.title&quot; label=&quot;&quot; placeholder=&quot;Album Title&quot; class=&quot;mb-3&quot; /&gt;

              &lt;LookupInput id=&quot;artistId&quot; v-model=&quot;request&quot; label=&quot;&quot; placeholder=&quot;Select Artist&quot;
                           :input=&quot;lookupProp.input&quot; :metadataType=&quot;dataModelType&quot; class=&quot;mb-3&quot; /&gt;

              &lt;SubmitAlbumButton /&gt;
            &lt;/fieldset&gt;
          &lt;/div&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/ModalDialog&gt;
    `,
    props: ['type'],
    emits: ['done','save'],
    setup(props, { emit }) {
        const client = useClient()
        const { typeOf } = useMetadata()

        const dataModelType = typeOf(&quot;Albums&quot;)
        const lookupProp = dataModelType.properties.find(x =&gt; x.name === 'ArtistId')
        const request = ref(new CreateAlbums())

        /** @param {Event} e */
        async function submit(e) {
            const form = e.target
            const api = await client.apiForm(new CreateAlbums(), new FormData(form))
            if (api.succeeded) {
                emit('save', api.response)
            }
        }

        function done() {
            emit('done')
        }

        return { request, lookupProp, dataModelType, submit, done }
    }
}
</code></pre>
<p>The only integration needed to communicate back with Locode's
<a href="/vue/gallery/autoquerygrid">AutoQueryGrid component</a> is to emit <code>done</code> when the form is dismissed without changes or emit <code>save</code> if changes are made to
refresh the AutoQueryGrid resultset to see the latest changes.</p>
<p>Invoking APIs with <code>useClient()</code> APIs will propagate any error information from any <a href="/locode/declarative#type-validation-attributes">declarative validation attributes</a> into validation-aware components which alleviates us from needing to perform any manual validation ourselves.</p>
<p>When registered this custom component replaces Locode's Auto Form UI with a custom <a href="https://chinook.locode.dev/locode/QueryAlbums?create">Create Album Form</a>:</p>
<p><a href="https://chinook.locode.dev/locode/QueryAlbums?create"><img src="/img/pages/locode/chinook/custom-createform.png" alt="" /></a></p>
<p>That when submitting an empty form will trigger the contextual validation errors to appear:</p>
<p><a href="https://chinook.locode.dev/locode/QueryAlbums?new=true"><img src="/img/pages/locode/chinook/custom-createform-errors.png" alt="" /></a></p>
<p>As enforced by the <a href="/declarative-validation">Declarative Validation</a> rules on the <code>CreateAlbums</code> AutoQuery CRUD DTO its calling:</p>
<pre><code class="language-csharp">[Route(&quot;/albums&quot;, &quot;POST&quot;), Tag(Tags.Media)]
public class CreateAlbums
    : IReturn&lt;IdResponse&gt;, IPost, ICreateDb&lt;Albums&gt;
{
    [ValidateNotEmpty]
    public string Title { get; set; }

    [ValidateGreaterThan(0)]
    public long ArtistId { get; set; }
}
</code></pre>
<h2 id="custom-edit-form">Custom Edit Form<a class="header-anchor" href="javascript:;" onclick="location.hash='#custom-edit-form'" aria-label="Permalink">&ZeroWidthSpace;</a></h2>
<p>The custom <code>EditAlbums</code> form has a very similar implementation the <code>NewAlbums</code> implementation above other than populating the Input components with
the existing Album's values, accessible via the <strong>model</strong> property.</p>
<pre><code class="language-js">import { useClient, useMetadata } from &quot;@servicestack/vue&quot;
import { ref } from &quot;vue&quot;
import { UpdateAlbums } from &quot;/types/mjs&quot;

export const EditAlbums = {
    template:/*html*/`
      &lt;ModalDialog @done=&quot;done&quot; sizeClass=&quot;&quot;&gt;
        &lt;div class=&quot;album-form relative flex flex-col&quot;&gt;
          &lt;ErrorSummary except=&quot;title,artistId&quot; /&gt;
          &lt;form @submit.prevent=&quot;submit&quot; class=&quot;m-4 shadow-md rounded-full w-96 h-96 max-w-96 flex justify-center items-center&quot;&gt;
            &lt;div class=&quot;flex flex-col justify-center items-center text-center&quot;&gt;
              &lt;h1 class=&quot;text-3xl font-medium text-rose-500 mb-4&quot;&gt;Edit Album {‎{ request.albumId }‎}&lt;/h1&gt;
              &lt;fieldset&gt;
                &lt;input type=&quot;hidden&quot; name=&quot;albumId&quot; :value=&quot;request.albumId&quot;&gt;
                &lt;TextInput id=&quot;title&quot; v-model=&quot;request.title&quot; label=&quot;&quot; placeholder=&quot;Album Title&quot; class=&quot;mb-3&quot; /&gt;

                &lt;LookupInput id=&quot;artistId&quot; v-model=&quot;request&quot; label=&quot;&quot; placeholder=&quot;Select Artist&quot;
                             :input=&quot;lookupProp.input&quot; :metadataType=&quot;dataModelType&quot; class=&quot;mb-3&quot; /&gt;

                &lt;SubmitAlbumButton /&gt;
              &lt;/fieldset&gt;
            &lt;/div&gt;
          &lt;/form&gt;
        &lt;/div&gt;
      &lt;/ModalDialog&gt;
    `,
    props: ['model','type','deleteType'],
    emits: ['done','save'],
    setup(props, { emit }) {
        const client = useClient()
        const { typeOf } = useMetadata()

        const dataModelType = typeOf(&quot;Albums&quot;)
        const lookupProp = dataModelType.properties.find(x =&gt; x.name === 'ArtistId')
        const request = ref(new UpdateAlbums(props.model))

        /** @param {Event} e */
        async function submit(e) {
            const form = e.target
            const api = await client.apiForm(new UpdateAlbums(), new FormData(form))
            if (api.succeeded) {
                emit('save', api.response)
            }
        }

        function done() {
            emit('done')
        }

        return { request, lookupProp, dataModelType, submit, done }
    }
} 
</code></pre>
<p>If applicable <strong>deleteType</strong> will be populated with an API to Delete Albums that the current user has authorization to access, should you wish to implement delete functionality.</p>
<p>Then to perform the updates we just need to call an Update Albums API, which for Chinook is called <code>PatchAlbums</code>:</p>
<pre><code class="language-csharp">[Route(&quot;/albums/{AlbumId}&quot;, &quot;PATCH&quot;), Tag(Tags.Media)]
public class PatchAlbums
    : IReturn&lt;IdResponse&gt;, IPatch, IPatchDb&lt;Albums&gt;
{
    public long AlbumId { get; set; }
    public string Title { get; set; }
    public long ArtistId { get; set; }
}
</code></pre>
<p>Which is all that's need to implement our custom Edit Albums Form:</p>
<p><a href="https://chinook.locode.dev/locode/QueryAlbums?edit=6"><img src="/img/pages/locode/chinook/custom-editform.png" alt="" /></a></p>
<p>To minimize code duplication both custom forms makes use of a shared
<a href="https://github.com/NetCoreApps/Chinook/blob/main/Chinook/wwwroot/modules/locode/components/SubmitAlbumButton.mjs">SubmitAlbumButton.mjs</a> component, defined as:</p>
<pre><code class="language-js">export const SubmitAlbumButton = {
    template:`
    &lt;button type=&quot;submit&quot; class=&quot;inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-rose-600 hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-500&quot;&gt;
        &lt;svg class=&quot;h-8 w-8&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; aria-hidden=&quot;true&quot; preserveAspectRatio=&quot;xMidYMid meet&quot; viewBox=&quot;0 0 48 48&quot;&gt;
            &lt;g fill=&quot;none&quot; stroke=&quot;currentColor&quot; stroke-linejoin=&quot;round&quot; stroke-width=&quot;4&quot;&gt;
                &lt;path stroke-linecap=&quot;round&quot; d=&quot;M24 44C12.954 44 4 35.046 4 24S12.954 4 24 4s20 8.954 20 20&quot;/&gt;
                &lt;path d=&quot;M20 24v-6.928l6 3.464L32 24l-6 3.464l-6 3.464V24Z&quot;/&gt;&lt;path stroke-linecap=&quot;round&quot; d=&quot;M37.05 32v10M42 36.95H32&quot;/&gt;
            &lt;/g&gt;
        &lt;/svg&gt;
    &lt;/button&gt;`
}
</code></pre>
<h2 id="custom-locode-home-page">Custom Locode Home Page<a class="header-anchor" href="javascript:;" onclick="location.hash='#custom-locode-home-page'" aria-label="Permalink">&ZeroWidthSpace;</a></h2>
<p>Next we'll look at how we can create a <a href="/locode/custom-components">custom Home page</a> by overriding Locode's
existing <code>Welcome.mjs</code> component.</p>
</div>

                <div class="not-prose"></div>
                
                    <div class="not-prose py-8">
                        <a class="text-slate-500 font-semibold hover:text-indigo-600 flex items-center" href="https://github.com/ServiceStack/docs.servicestack.net/blob/main/MyApp/_pages/locode/custom-forms.md" target="_blank" rel="noopener noreferrer">
                            Edit this page on GitHub<svg class="ml-1 inline-block w-4 h-4" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" data-v-1ed99556=""><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path><polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                        </a>
                    </div>

                    <div class="not-prose my-20">
                                <nav class="flex items-center justify-between border-t border-gray-200 dark:border-gray-700 px-4 sm:px-0">
                                    <div class="-mt-px flex w-0 flex-1">
                                            <a href="/locode/custom-autoquerygrid" class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 dark:hover:border-gray-600 hover:text-gray-700 dark:hover:text-gray-200">
                                                <!-- Heroicon name: mini/arrow-long-left -->
                                                <svg class="mr-3 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd"></path>
                                                </svg>
                                                Custom AutoQueryGrid
                                            </a>
                                    </div>
                                    <div class="hidden md:-mt-px md:flex"></div>
                                    <div class="-mt-px flex w-0 flex-1 justify-end">
                                            <a href="/locode/custom-components" class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 dark:hover:border-gray-600 hover:text-gray-700 dark:hover:text-gray-200">
                                                Custom Components
                                                <!-- Heroicon name: mini/arrow-long-right -->
                                                <svg class="ml-3 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                    </div>
                                </nav>
                    </div>
            </div>
                
                <div class="docmap hidden 2xl:block flex-none w-64 pl-8 mr-8">
                    <div class="fixed bg-white dark:bg-black flex flex-col overflow-y-auto pt-10 px-8 pb-6" style="height:calc(100vh - 50px);">
                        <div>
                            <h5 class="text-slate-900 font-semibold mb-4 text-sm leading-6 dark:text-slate-100">
                                On This Page
                            </h5>
                            <ul class="text-slate-700 text-sm leading-6">
                                    <li class="group text-gray-800 hover:text-gray-900">
                                        <span v-hash="'#built-in-app-functionality'" data-id="built-in-app-functionality" class="cursor-pointer font-medium block text-sm transform transition-colors duration-200 py-2">
                                            Built-in App functionality
                                        </span>
                                            <ul class="ml-4">
                                                    <li data-id="javascript-libraries" class="text-gray-500 hover:text-gray-900">
                                                        <span v-hash="'#javascript-libraries'" class="cursor-pointer flex text-sm transform transition-colors duration-200 py-2">
                                                            <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path></svg>
                                                            JavaScript Libraries
                                                        </span>
                                                    </li>
                                                    <li data-id="app-functionality" class="text-gray-500 hover:text-gray-900">
                                                        <span v-hash="'#app-functionality'" class="cursor-pointer flex text-sm transform transition-colors duration-200 py-2">
                                                            <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path></svg>
                                                            App functionality
                                                        </span>
                                                    </li>
                                                    <li data-id="code-walkthrough" class="text-gray-500 hover:text-gray-900">
                                                        <span v-hash="'#code-walkthrough'" class="cursor-pointer flex text-sm transform transition-colors duration-200 py-2">
                                                            <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path></svg>
                                                            Code walkthrough
                                                        </span>
                                                    </li>
                                            </ul>
                                    </li>
                                    <li class="group text-gray-800 hover:text-gray-900">
                                        <span v-hash="'#custom-edit-form'" data-id="custom-edit-form" class="cursor-pointer font-medium block text-sm transform transition-colors duration-200 py-2">
                                            Custom Edit Form
                                        </span>
                                    </li>
                                    <li class="group text-gray-800 hover:text-gray-900">
                                        <span v-hash="'#custom-locode-home-page'" data-id="custom-locode-home-page" class="cursor-pointer font-medium block text-sm transform transition-colors duration-200 py-2">
                                            Custom Locode Home Page
                                        </span>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>    
</div>

<script>
//doc instructions
if (document.querySelector('.hide-title')) {
    const el = document.querySelector('#doc section h1') 
    if (el) el.style.display='none'
}
</script>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"


    const App = {
        setup() {
            function nav(url) {
                window.open(url)
            }
            return { nav }
        }
    }
    
const Sidebar = {
    setup() {
        const open = ref(true)
        return { open }
    }
}

mount('#doc', App)
mount('#sidebar', Sidebar)
</script>

<script src="/lib/js/highlight.js"></script>
<script>hljs.highlightAll()</script>
<script src="/lib/js/lite-yt-embed.js"></script>
<script src="/mjs/docs.mjs" type="module"></script>


    </main>
</div>

<script type="module">
import { init } from "app.mjs"
init()
</script>





</body>
</html>