<!doctype html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7722718-13"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); gtag('config', 'UA-7722718-13');</script>
    
    <meta charset="utf-8"/>
    <meta name='date' content='2024-03-04T14:19:45.8092437Z'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="/img/logo.svg">
    <title>Empty Project Templates</title>
    <script>
    if (location.search === "?dark") localStorage.setItem('color-scheme','dark') 
    if (location.search === "?light") localStorage.removeItem('color-scheme') 
    const cls = document.querySelector('html').classList
    if (localStorage.getItem('color-scheme') === 'dark')
        cls.add('dark')
    else
        cls.remove('dark')
    </script>
    <link rel="stylesheet" href="/css/app.css">
    

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
{
    "imports": {
        "app.mjs": "/mjs/app.mjs",
        "vue": "/lib/mjs/vue.min.mjs",
        "@servicestack/client": "/lib/mjs/servicestack-client.min.mjs",
        "@servicestack/vue": "/lib/mjs/servicestack-vue.min.mjs"
    }
}
</script>
</head>
<body class="bg-white dark:bg-black dark:text-white">

<header id="header" class="top-0 fixed z-50 h-14 bg-white dark:bg-black opacity-90 w-full shadow">
  <nav class="border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-black">
    <div class="mx-auto max-w-[100rem] pr-4 sm:pr-6 lg:pr-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex flex-shrink-0 items-center">
            <a class="mr-2 lg:mr-8 flex items-center" href="/">
                <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
                <span class="hidden sm:block text-2xl font-semibold">Documentation</span>
            </a>
          </div>
            <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-4 lg:space-x-8">
                <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                        <a href="/templates/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-indigo-500 text-gray-900">
                            <span class="hidden xl:inline mr-1">Project</span> Templates
                        </a>
                        <a href="/vue/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Vue
                        </a>
                        <a href="/autoquery/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            AutoQuery
                        </a>
                        <a href="/auth/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Auth
                        </a>
                        <a href="/ormlite/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            OrmLite
                        </a>
                        <a href="/redis/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Redis
                        </a>
                        <a href="/locode/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200 hidden lg:inline-flex">
                            Locode
                        </a>
                        <a href="/grpc/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200 hidden lg:inline-flex">
                            gRPC
                        </a>
            </div>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:items-center">
            <typesense></typesense>
            <dark-mode-toggle class="ml-2 w-10"></dark-mode-toggle>
        </div>
        <div class="-mr-2 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button type="button" v-on:click="open=!open" class="inline-flex items-center justify-center rounded-md bg-white dark:bg-black p-2 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:ring-offset-black" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg :class="['h-6 w-6', open ? 'hidden' : 'block']" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg :class="['h-6 w-6', open ? 'block' : 'hidden']" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div v-cloak v-if="open" class="sm:hidden">
        <div class="space-y-1 pb-3 pt-2">
            <!-- Current: "border-indigo-500 bg-indigo-50 text-indigo-700", Default: "border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" -->
                    <a href="/templates/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-indigo-500 bg-indigo-50 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-200">
                        Project Templates
                    </a>
                    <a href="/vue/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Vue
                    </a>
                    <a href="/autoquery/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        AutoQuery
                    </a>
                    <a href="/auth/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Auth
                    </a>
                    <a href="/ormlite/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        OrmLite
                    </a>
                    <a href="/redis/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Redis
                    </a>
                    <a href="/locode/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Locode
                    </a>
                    <a href="/grpc/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        gRPC
                    </a>
        </div>
    </div>
  </nav>
</header>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"

const Header = {
    setup() {
        const open = ref(false)
        return { open }
    }
}
mount('#header', Header)
</script>


<div class="min-h-screen">
    <main role="main" class="pt-16 pb-3 max-w-[100rem] mx-auto">
        



<style>
.active {
    color: #0ea5e9 !important;
}
</style>
<link rel="stylesheet" href="/css/highlight.css">
<link rel="stylesheet" href="/css/typography.css">
<link rel="stylesheet" href="/css/lite-yt-embed.css">

<div class="w-full max-w-[100rem] mx-auto">
    <div class="flex flex-wrap">
        <div id="sidebar" class="z-40 inset-0 flex-none bg-white dark:bg-black lg:w-64 xl:w-80">
            <button v-cloak v-on:click="open=true" :class="['text-gray-400 hover:text-gray-500 pt-4 pl-2 absolute transform transition-all duration-200', open ? 'opacity-0 translate-x-56' : 'opacity-100']" title="Open Sidebar">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H10m10 0l-4 4m4-4l-4-4M4 4v16"/></svg>
            </button>
            <div :class="['fixed bg-white dark:bg-black h-screen overflow-y-auto scrolling-touch overflow-hidden shadow lg:shadow-none transform transition-transform duration-200', open ? '' : 'translate-x-[-100%]']">
                <nav class="sidebar lg:w-64 xl:w-80 px-1 pt-6 pb-16 overflow-y-auto font-medium text-sm lg:text-base sm:px-3 xl:px-5" aria-label="Sidebar">
                    <close-button title="Close Sidebar" class="lg:hidden -mr-2" v-on:close="open=false"></close-button>
                                <a href="/templates/" class="block flex items-center whitespace-nowrap">
<svg class='h-6 w-6 shrink-0 text-sky-500' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true'><path stroke-linecap='round' stroke-linejoin='round' d='M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25'></path></svg>                                    <span class="p-2 pl-3 font-display font-medium text-slate-900 dark:text-white">
Project Templates                                    </span>
                                </a>
                        <ul role="list" class="mb-6 mt-2 ml-3 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                                <li class="relative">
                                    <a href="/templates/blazor-server" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Blazor Server Tailwind
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/blazor-tailwind" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Blazor WASM Tailwind
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/blazor-components" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Blazor Components
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/jamstack" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Jamstack Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/empty" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full active font-semibold text-sky-500 before:bg-sky-500">
                                        Empty Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/websites" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Website Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/mvc" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        MVC Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/single-page-apps" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Single Page App Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/lite" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Vue and React &quot;lite&quot; Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/vuetify" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Vuetify Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/nuxt" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Nuxt Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/vue" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Vue Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/react" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        React Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/svelte" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Svelte Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/angular" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Angular Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/aws" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        AWS Lambda Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/desktop" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Desktop Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/corefx" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        ASP.NET Core on .NET Framework
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/spa-components" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Vue, React, Angular Components
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/razor-press/" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Razor Press
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/creatorkit/" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Creator Kit
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/webpack" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Tour of Webpack
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/install-servicestackvs" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Install ServiceStackVS
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/dotnet-scripts" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Cross platform dotnet scripts
                                    </a>
                                </li>
                        </ul>
                </nav>
            </div>
        </div>
        <div id="doc" class="mx-auto flex">
            <div class="mt-8 mx-auto prose lg:prose-lg">
                
                    <section class="not-prose mb-16 md:mb-12">
                        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl">
                            Empty Project Templates
                        </h1>
                    </section>

                <div class="not-prose"></div>

                <div class="content"><h2 id="create-empty.net-6-web-apps">Create Empty .NET 6 Web Apps<a class="header-anchor" href="javascript:;" onclick="location.hash='#create-empty.net-6-web-apps'" aria-label="Permalink">&ZeroWidthSpace;</a></h2>
<p><div><p>If you don't have the <a href="/templates/dotnet-new">x dotnet tool</a> installed, the quickest way to create a ServiceStack App is to download your preferred template from:</p>
<div class="not-prose">
<h3 class="m-0 py-8 text-4xl text-center text-blue-600"><a href="https://servicestack.net/start">servicestack.net/start</a></h3>
</div>
<p>Alternatively if you're creating multiple projects we recommend installing the <strong>x</strong> dotnet tool which can create every project template:</p>
<div class="not-prose sh-copy cp flex cursor-pointer mb-3" onclick="copy(this)">
                <div class="flex-grow bg-gray-800">
                    <div class="pl-4 py-1 pb-1.5 align-middle whitespace-pre text-base text-gray-100"><p>dotnet tool install --global x</p>
</div>
                    </div>
                <div class="flex">
                    <div class="bg-green-600 text-white p-1.5 pb-0">
                        <svg class="copied w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <svg class="nocopy w-6 h-6" title="copy" fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'></path>
                        </svg>
                    </div>
                </div>
            </div>
<h3 id="empty-projects">Empty Projects<a class="header-anchor" href="javascript:;" onclick="location.hash='#empty-projects'" aria-label="Permalink">&ZeroWidthSpace;</a></h3>
<p>There are a few different ways you can create empty ServiceStack projects ordered by their level of emptiness.</p>
<p>To write a minimal .NET 6 Web App to your current directory, <a href="/mix-tool">mix</a> in the <strong><a href="https://gist.github.com/gistlyn/8026c4c2a7202b99885539109145e12b">init</a></strong> gist files to your current directory:</p>
<div class="not-prose sh-copy cp flex cursor-pointer mb-3" onclick="copy(this)">
                <div class="flex-grow bg-gray-800">
                    <div class="pl-4 py-1 pb-1.5 align-middle whitespace-pre text-base text-gray-100"><p>x mix init</p>
</div>
                    </div>
                <div class="flex">
                    <div class="bg-green-600 text-white p-1.5 pb-0">
                        <svg class="copied w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <svg class="nocopy w-6 h-6" title="copy" fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'></path>
                        </svg>
                    </div>
                </div>
            </div>
<p>To create an empty Single Project Template solution use the <a href="https://github.com/NetCoreTemplates/empty">empty</a> template:</p>
<div class="not-prose sh-copy cp flex cursor-pointer mb-3" onclick="copy(this)">
                <div class="flex-grow bg-gray-800">
                    <div class="pl-4 py-1 pb-1.5 align-middle whitespace-pre text-base text-gray-100"><p>x new empty ProjectName</p>
</div>
                    </div>
                <div class="flex">
                    <div class="bg-green-600 text-white p-1.5 pb-0">
                        <svg class="copied w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <svg class="nocopy w-6 h-6" title="copy" fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'></path>
                        </svg>
                    </div>
                </div>
            </div>
<p>To create an empty 4 Project solution that adopts ServiceStack's <a href="/physical-project-structure">recommended project structure</a>, use the <a href="https://github.com/NetCoreTemplates/web">web</a> template:</p>
<div class="not-prose sh-copy cp flex cursor-pointer mb-3" onclick="copy(this)">
                <div class="flex-grow bg-gray-800">
                    <div class="pl-4 py-1 pb-1.5 align-middle whitespace-pre text-base text-gray-100"><p>x new web ProjectName</p>
</div>
                    </div>
                <div class="flex">
                    <div class="bg-green-600 text-white p-1.5 pb-0">
                        <svg class="copied w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <svg class="nocopy w-6 h-6" title="copy" fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'></path>
                        </svg>
                    </div>
                </div>
            </div>
<div class="info custom-block">
            <p class="custom-block-title">INFO</p><p>You can omit the <strong>ProjectName</strong> in all above examples to use the <strong>Directory</strong> Name as the Project Name</p>
</div>
<h3 id="empty-f-template">Empty F# Template<a class="header-anchor" href="javascript:;" onclick="location.hash='#empty-f-template'" aria-label="Permalink">&ZeroWidthSpace;</a></h3>
<p>Like C# <strong>init</strong> there's also <strong><a href="https://gist.github.com/gistlyn/3008acbe218fbcfb8278853825cc7ea3">init-fsharp</a></strong> gist to create an empty F# Web App:</p>
<div class="not-prose sh-copy cp flex cursor-pointer mb-3" onclick="copy(this)">
                <div class="flex-grow bg-gray-800">
                    <div class="pl-4 py-1 pb-1.5 align-middle whitespace-pre text-base text-gray-100"><p>x mix init-fsharp</p>
</div>
                    </div>
                <div class="flex">
                    <div class="bg-green-600 text-white p-1.5 pb-0">
                        <svg class="copied w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <svg class="nocopy w-6 h-6" title="copy" fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'></path>
                        </svg>
                    </div>
                </div>
            </div>
<h3 id="empty-vb.net-template">Empty VB .NET Template<a class="header-anchor" href="javascript:;" onclick="location.hash='#empty-vb.net-template'" aria-label="Permalink">&ZeroWidthSpace;</a></h3>
<p>And <strong><a href="https://gist.github.com/gistlyn/6e0677825059822fbaffec123403bf38">init-vb</a></strong> to create an empty VB .NET Web App:</p>
<div class="not-prose sh-copy cp flex cursor-pointer mb-3" onclick="copy(this)">
                <div class="flex-grow bg-gray-800">
                    <div class="pl-4 py-1 pb-1.5 align-middle whitespace-pre text-base text-gray-100"><p>x mix init-vb</p>
</div>
                    </div>
                <div class="flex">
                    <div class="bg-green-600 text-white p-1.5 pb-0">
                        <svg class="copied w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                        <svg class="nocopy w-6 h-6" title="copy" fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
                            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'></path>
                        </svg>
                    </div>
                </div>
            </div>

</div></p>
<h2 id="empty-asp.net-core-and.net-framework-templates">Empty ASP .NET Core and .NET Framework Templates<a class="header-anchor" href="javascript:;" onclick="location.hash='#empty-asp.net-core-and.net-framework-templates'" aria-label="Permalink">&ZeroWidthSpace;</a></h2>
<p>The templates below follow our recommended <a href="/physical-project-structure">physical project layout</a> where <strong>web</strong> is our recommended empty starting project for Web Apps whilst <strong>selfhost</strong> is an empty project with the minimum dependencies.</p>
<table class="table">
<tr>
    <th>.NET 6.0</th>
    <th>.NET Framework</th>
    <th>ASP .NET Core on FX</th>
    <th>Empty Project Templates</th>
</tr>
<tr>
    <td><a href="https://github.com/NetCoreTemplates/web">web</a></td>
    <td><a href="https://github.com/NetFrameworkTemplates/web-netfx">web-netfx</a></td>
    <td><a href="https://github.com/NetFrameworkCoreTemplates/web-corefx">web-corefx</a></td>
    <td align="center">
        <h3>Empty Web Template</h3>
        <a href="http://web.web-templates.io"><img src="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/web.png" width="500" /></a>
        <p><a href="http://web.web-templates.io">web.web-templates.io</a></p>
    </td>
</tr>
<tr>
    <td><a href="https://github.com/NetCoreTemplates/selfhost">selfhost</a></td>
    <td><a href="https://github.com/NetFrameworkTemplates/selfhost-netfx">selfhost-netfx</a></td>
    <td><a href="https://github.com/NetFrameworkCoreTemplates/web-corefx">selfhost-corefx</a></td>
    <td align="center">
        <h3>Empty SelfHost Console Template</h3>
        <a href="http://selfhost.web-templates.io"><img src="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/selfhost.png" width="500" /></a>
        <p><a href="http://selfhost.web-templates.io">selfhost.web-templates.io</a></p>
    </td>
</tr>
</table>
<h3 id="windows-service-template">Windows Service Template<a class="header-anchor" href="javascript:;" onclick="location.hash='#windows-service-template'" aria-label="Permalink">&ZeroWidthSpace;</a></h3>
<p>You can use <a href="https://github.com/NetFrameworkTemplates/winservice-netfx">winservice-netfx</a> to create a Windows Service but as this requires Visual Studio it's faster to continue creating new Windows Service projects within VS.NET using the <strong>ServiceStack Windows Service Empty</strong> Project Template.</p>
</div>

                <div class="not-prose"></div>
                

                    <div class="not-prose my-20">
                                <nav class="flex items-center justify-between border-t border-gray-200 dark:border-gray-700 px-4 sm:px-0">
                                    <div class="-mt-px flex w-0 flex-1">
                                            <a href="/templates/jamstack" class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 dark:hover:border-gray-600 hover:text-gray-700 dark:hover:text-gray-200">
                                                <!-- Heroicon name: mini/arrow-long-left -->
                                                <svg class="mr-3 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd"></path>
                                                </svg>
                                                Jamstack Templates
                                            </a>
                                    </div>
                                    <div class="hidden md:-mt-px md:flex"></div>
                                    <div class="-mt-px flex w-0 flex-1 justify-end">
                                            <a href="/templates/websites" class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 dark:hover:border-gray-600 hover:text-gray-700 dark:hover:text-gray-200">
                                                Website Templates
                                                <!-- Heroicon name: mini/arrow-long-right -->
                                                <svg class="ml-3 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                    </div>
                                </nav>
                    </div>
            </div>
                
                <div class="docmap hidden 2xl:block flex-none w-64 pl-8 mr-8">
                    <div class="fixed bg-white dark:bg-black flex flex-col overflow-y-auto pt-10 px-8 pb-6" style="height:calc(100vh - 50px);">
                        <div>
                            <h5 class="text-slate-900 font-semibold mb-4 text-sm leading-6 dark:text-slate-100">
                                On This Page
                            </h5>
                            <ul class="text-slate-700 text-sm leading-6">
                                    <li class="group text-gray-800 hover:text-gray-900">
                                        <span v-hash="'#create-empty.net-6-web-apps'" data-id="create-empty.net-6-web-apps" class="cursor-pointer font-medium block text-sm transform transition-colors duration-200 py-2">
                                            Create Empty .NET 6 Web Apps
                                        </span>
                                    </li>
                                    <li class="group text-gray-800 hover:text-gray-900">
                                        <span v-hash="'#empty-asp.net-core-and.net-framework-templates'" data-id="empty-asp.net-core-and.net-framework-templates" class="cursor-pointer font-medium block text-sm transform transition-colors duration-200 py-2">
                                            Empty ASP .NET Core and .NET Framework Templates
                                        </span>
                                            <ul class="ml-4">
                                                    <li data-id="windows-service-template" class="text-gray-500 hover:text-gray-900">
                                                        <span v-hash="'#windows-service-template'" class="cursor-pointer flex text-sm transform transition-colors duration-200 py-2">
                                                            <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path></svg>
                                                            Windows Service Template
                                                        </span>
                                                    </li>
                                            </ul>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>    
</div>

<script>
//doc instructions
if (document.querySelector('.hide-title')) {
    const el = document.querySelector('#doc section h1') 
    if (el) el.style.display='none'
}
</script>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"


    const App = {
        setup() {
            function nav(url) {
                window.open(url)
            }
            return { nav }
        }
    }
    
const Sidebar = {
    setup() {
        const open = ref(true)
        return { open }
    }
}

mount('#doc', App)
mount('#sidebar', Sidebar)
</script>

<script src="/lib/js/highlight.js"></script>
<script>hljs.highlightAll()</script>
<script src="/lib/js/lite-yt-embed.js"></script>
<script src="/mjs/docs.mjs" type="module"></script>


    </main>
</div>

<script type="module">
import { init } from "app.mjs"
init()
</script>





</body>
</html>