<!doctype html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-7722718-13"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); gtag('config', 'UA-7722718-13');</script>
    
    <meta charset="utf-8"/>
    <meta name='date' content='2023-11-20T04:11:57.6761302Z'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg" href="/img/logo.svg">
    <title>Vuetify Project Templates</title>
    <script>
    if (location.search === "?dark") localStorage.setItem('color-scheme','dark') 
    if (location.search === "?light") localStorage.removeItem('color-scheme') 
    const cls = document.querySelector('html').classList
    if (localStorage.getItem('color-scheme') === 'dark')
        cls.add('dark')
    else
        cls.remove('dark')
    </script>
    <link rel="stylesheet" href="/css/app.css">
    

    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
{
    "imports": {
        "app.mjs": "/mjs/app.mjs",
        "vue": "/lib/mjs/vue.min.mjs",
        "@servicestack/client": "/lib/mjs/servicestack-client.min.mjs",
        "@servicestack/vue": "/lib/mjs/servicestack-vue.min.mjs"
    }
}
</script>
</head>
<body class="bg-white dark:bg-black dark:text-white">

<header id="header" class="top-0 fixed z-50 h-14 bg-white dark:bg-black opacity-90 w-full shadow">
  <nav class="border-b border-gray-200 dark:border-gray-700 bg-white dark:bg-black">
    <div class="mx-auto max-w-[100rem] pr-4 sm:pr-6 lg:pr-8">
      <div class="flex h-16 justify-between">
        <div class="flex">
          <div class="flex flex-shrink-0 items-center">
            <a class="mr-2 lg:mr-8 flex items-center" href="/">
                <svg class="w-8 h-8 sm:ml-2 sm:w-12 sm:h-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path fill="currentColor" d="M10 6c1.544 1.76 2.276 4.15 2.217 6.61c3.968 1.67 9.924 6.12 11.181 12.39H28C26.051 14.31 14.918 6.77 10 6zm-2 7c4.67 4.913.81 11.582-4 12h18.97C21.5 18.289 11.95 13.533 8 13z"/></svg>
                <span class="hidden sm:block text-2xl font-semibold">Documentation</span>
            </a>
          </div>
            <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-4 lg:space-x-8">
                <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                        <a href="/templates/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-indigo-500 text-gray-900">
                            <span class="hidden xl:inline mr-1">Project</span> Templates
                        </a>
                        <a href="/vue/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Vue
                        </a>
                        <a href="/autoquery/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            AutoQuery
                        </a>
                        <a href="/auth/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Auth
                        </a>
                        <a href="/ormlite/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            OrmLite
                        </a>
                        <a href="/redis/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200">
                            Redis
                        </a>
                        <a href="/locode/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200 hidden lg:inline-flex">
                            Locode
                        </a>
                        <a href="/grpc/" class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 dark:hover:text-gray-200 hidden lg:inline-flex">
                            gRPC
                        </a>
            </div>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:items-center">
            <typesense></typesense>
            <dark-mode-toggle class="ml-2 w-10"></dark-mode-toggle>
        </div>
        <div class="-mr-2 flex items-center sm:hidden">
          <!-- Mobile menu button -->
          <button type="button" v-on:click="open=!open" class="inline-flex items-center justify-center rounded-md bg-white dark:bg-black p-2 text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:ring-offset-black" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg :class="['h-6 w-6', open ? 'hidden' : 'block']" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg :class="['h-6 w-6', open ? 'block' : 'hidden']" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div v-cloak v-if="open" class="sm:hidden">
        <div class="space-y-1 pb-3 pt-2">
            <!-- Current: "border-indigo-500 bg-indigo-50 text-indigo-700", Default: "border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" -->
                    <a href="/templates/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-indigo-500 bg-indigo-50 dark:bg-indigo-900 text-indigo-700 dark:text-indigo-200">
                        Project Templates
                    </a>
                    <a href="/vue/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Vue
                    </a>
                    <a href="/autoquery/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        AutoQuery
                    </a>
                    <a href="/auth/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Auth
                    </a>
                    <a href="/ormlite/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        OrmLite
                    </a>
                    <a href="/redis/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Redis
                    </a>
                    <a href="/locode/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        Locode
                    </a>
                    <a href="/grpc/" class="block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-gray-600 dark:text-gray-300 hover:border-gray-300 hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-100">
                        gRPC
                    </a>
        </div>
    </div>
  </nav>
</header>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"

const Header = {
    setup() {
        const open = ref(false)
        return { open }
    }
}
mount('#header', Header)
</script>


<div class="min-h-screen">
    <main role="main" class="pt-16 pb-3 max-w-[100rem] mx-auto">
        



<style>
.active {
    color: #0ea5e9 !important;
}
</style>
<link rel="stylesheet" href="/css/highlight.css">
<link rel="stylesheet" href="/css/typography.css">
<link rel="stylesheet" href="/css/lite-yt-embed.css">

<div class="w-full max-w-[100rem] mx-auto">
    <div class="flex flex-wrap">
        <div id="sidebar" class="z-40 inset-0 flex-none bg-white dark:bg-black lg:w-64 xl:w-80">
            <button v-cloak v-on:click="open=true" :class="['text-gray-400 hover:text-gray-500 pt-4 pl-2 absolute transform transition-all duration-200', open ? 'opacity-0 translate-x-56' : 'opacity-100']" title="Open Sidebar">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H10m10 0l-4 4m4-4l-4-4M4 4v16"/></svg>
            </button>
            <div :class="['fixed bg-white dark:bg-black h-screen overflow-y-auto scrolling-touch overflow-hidden shadow lg:shadow-none transform transition-transform duration-200', open ? '' : 'translate-x-[-100%]']">
                <nav class="sidebar lg:w-64 xl:w-80 px-1 pt-6 pb-16 overflow-y-auto font-medium text-sm lg:text-base sm:px-3 xl:px-5" aria-label="Sidebar">
                    <close-button title="Close Sidebar" class="lg:hidden -mr-2" v-on:close="open=false"></close-button>
                                <a href="/templates/" class="block flex items-center whitespace-nowrap">
<svg class='h-6 w-6 shrink-0 text-sky-500' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true'><path stroke-linecap='round' stroke-linejoin='round' d='M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25'></path></svg>                                    <span class="p-2 pl-3 font-display font-medium text-slate-900 dark:text-white">
Project Templates                                    </span>
                                </a>
                        <ul role="list" class="mb-6 mt-2 ml-3 space-y-2 border-l-2 border-slate-100 dark:border-slate-800 lg:mt-4 lg:space-y-4 lg:border-slate-200">
                                <li class="relative">
                                    <a href="/templates/blazor-tailwind" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Blazor WASM Tailwind
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/blazor-server" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Blazor Server Tailwind
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/blazor-bootstrap" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Blazor WASM Bootstrap
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/blazor-components" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Blazor Components
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/jamstack" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Jamstack Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/empty" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Empty Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/websites" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Website Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/mvc" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        MVC Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/single-page-apps" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Single Page App Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/lite" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Vue and React &quot;lite&quot; Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/vuetify" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full active font-semibold text-sky-500 before:bg-sky-500">
                                        Vuetify Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/nuxt" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Nuxt Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/vue" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full active font-semibold text-sky-500 before:bg-sky-500">
                                        Vue Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/react" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        React Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/svelte" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Svelte Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/angular" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Angular Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/aws" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        AWS Lambda Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/desktop" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Desktop Templates
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/corefx" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        ASP.NET Core on .NET Framework
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/spa-components" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Vue, React, Angular Components
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/razor-press/" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Razor Press
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/creatorkit/" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Creator Kit
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/webpack" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Tour of Webpack
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/install-servicestackvs" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Install ServiceStackVS
                                    </a>
                                </li>
                                <li class="relative">
                                    <a href="/templates/dotnet-scripts" class="block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300">
                                        Cross platform dotnet scripts
                                    </a>
                                </li>
                        </ul>
                </nav>
            </div>
        </div>
        <div id="doc" class="mx-auto flex">
            <div class="mt-8 mx-auto prose lg:prose-lg">
                
                    <section class="not-prose mb-16 md:mb-12">
                        <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-50 sm:text-5xl md:text-6xl">
                            Vuetify Project Templates
                        </h1>
                    </section>

                <div class="not-prose"></div>

                <div class="content"><div class="not-prose my-8 ml-20 flex justify-center"><svg style="max-width:200px" viewBox="0 0 682 682" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M340.771 639.454C509.596 639.454 646.454 502.596 646.454 333.771C646.454 164.948 509.596 28.0893 340.771 28.0893C171.948 28.0893 35.0893 164.948 35.0893 333.771C35.0893 502.596 171.948 639.454 340.771 639.454ZM340.771 645.543C512.957 645.543 652.543 505.957 652.543 333.771C652.543 161.585 512.957 22 340.771 22C168.585 22 29 161.585 29 333.771C29 505.957 168.585 645.543 340.771 645.543Z" fill="#AEDDFF"/>
<path d="M494.907 83.8146C504.797 83.8146 512.815 75.7972 512.815 65.9073C512.815 56.0174 504.797 48 494.907 48C485.017 48 477 56.0174 477 65.9073C477 75.7972 485.017 83.8146 494.907 83.8146Z" fill="#1697F6"/>
<path d="M203.907 627.815C213.797 627.815 221.815 619.797 221.815 609.907C221.815 600.017 213.797 592 203.907 592C194.017 592 186 600.017 186 609.907C186 619.797 194.017 627.815 203.907 627.815Z" fill="#1697F6"/>
<path d="M340.723 334.485L260.488 145.008H340.723V334.485Z" fill="#1697F6"/>
<path d="M258.949 202.198H169L340.723 537.158V390.107L258.949 202.198Z" fill="#7BC6FF"/>
<path d="M340.723 145L340.723 334.485L420.955 145.008H340.723" fill="#1867C0"/>
<path d="M422.487 202.198H512.436L340.723 537.158V390.107L422.487 202.198Z" fill="#AEDDFF"/>
</svg></div>
<p>Quite simply Vuetify is a suite of rich high-level reusable Vue Components that makes it easy to develop beautiful Material designed applications. In many ways it realizes the promise that <a href="https://www.webcomponents.org/introduction">Web Components</a> were meant to deliver by being able to quickly compose rich Applications from a pre-set of reusable high-level components which have often been marred by their poor integration with the premier JavaScript frameworks Apps are built with.</p>
<p>We believe Vuetify is one of the best UI Component libraries available which realizes this promise of increased productivity with its broad number of actively maintained and beautifully designed components that offers both a consistent development model and a consistent visual aesthetic that follows <a href="https://material.io/guidelines/">Google's Material Design</a>. Behind the scenes Vuetify components are just Vue components that can be added to any existing Vue App where you can choose to use as much of or as little of Vuetify components as you'd like.</p>
<p>Given the productivity value Vuetify adds, we've created Vuetify templates for both Vue and Nuxt Single Page App templates for both .NET Core and .NET Framework projects:</p>
<h2 id="vue-app">Vue App<a class="header-anchor" href="javascript:;" onclick="location.hash='#vue-app'" aria-label="Permalink"> </a></h2>
<p><a href="https://github.com/NetCoreTemplates/vuetify-spa"><img src="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/vuetify-spa.png" alt="" /></a></p>
<ul>
<li><a href="https://github.com/NetCoreTemplates/vuetify-spa">vuetify-spa</a> - .NET 6.0 Vuetify Material Webpack App</li>
<li><a href="https://github.com/NetFrameworkTemplates/vuetify-spa-netfx">vuetify-spa-netfx</a> - .NET Framework Vuetify Material Webpack App</li>
</ul>
<h2 id="vue-nuxt-app">Vue Nuxt App<a class="header-anchor" href="javascript:;" onclick="location.hash='#vue-nuxt-app'" aria-label="Permalink"> </a></h2>
<p><a href="https://github.com/NetCoreTemplates/vuetify-nuxt"><img src="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/vuetify-nuxt.png" alt="" /></a></p>
<ul>
<li><a href="https://github.com/NetCoreTemplates/vuetify-nuxt">vuetify-nuxt</a> - .NET 6.0 Vuetify Material Nuxt.js SPA Web App</li>
<li><a href="https://github.com/NetFrameworkTemplates/vuetify-nuxt-netfx">vuetify-nuxt-netfx</a> - .NET Framework Vuetify Material Nuxt.js SPA Web App</li>
</ul>
<h3 id="client-server-validation-with-vuetify">Client / Server Validation with Vuetify<a class="header-anchor" href="javascript:;" onclick="location.hash='#client-server-validation-with-vuetify'" aria-label="Permalink"> </a></h3>
<p>One of the advantages of using <a href="https://vuetifyjs.com/en/components/forms">Vuetify Form Components</a> is that they provide is a consistent validation model across all their controls which supports validation rules in the form of an array of lambda expressions and an <code>error-message</code> property for manually assigning error messages.</p>
<p>We'll walk through the TechStack's <a href="https://github.com/NetCoreApps/TechStacks/blob/master/src/TechStacks/src/components/CategoryEdit.vue">CategoryEdit.vue</a> as a simple example of a CRUD form built with Vue/Vuetify which is used to <strong>Update</strong> and <strong>Delete</strong> existing categories or <strong>Create</strong> new ones. Refer to the <a href="https://github.com/NetCoreApps/TechStacks/blob/master/src/TechStacks/src/components/CategoryEdit.vue">source code</a> for the complete implementation, we'll highlight and document the main parts containing the functionality to validate the form and send the API Requests.</p>
<p>All forms follows the same approach where they each have a validation <code>errorSummary</code> to display any General Service Exceptions and Vuetify Input controls configured to show both client-side and server validation errors. The <code>rules</code> attribute is where <strong>client validation rules</strong> are assigned, they can be declared in-line within the template but as the same rules are shared across multiple components they're declared in <a href="https://github.com/NetCoreApps/TechStacks/blob/master/src/TechStacks/src/shared/utils.js">/shared/utils.js</a>.</p>
<p>Each validation rule is a lambda that returns either <code>true</code> if the rule is valid or the Error Message String to show attached to the control. Here are the three validation rules for  <code>slugRules</code>:</p>
<pre><code class="language-js">export const slugCounter = 50;
export const slugRules = [
  v =&gt; !!v || &quot;Required&quot;,
  v =&gt; (v &amp;&amp; v.length &lt;= slugCounter) || `Max ${slugCounter} characters`,
  v =&gt; (v &amp;&amp; /^[a-z0-9\-]+$/.test(v)) || `Only lowercase letters, numbers or hyphens allowed`,
];
</code></pre>
<p>The <code>counter</code> attribute is a nice UX feature of Vuetify Text Input controls to show the current and maximum characters for each field. The <code>errorResponse</code> is a method in <code>@servicestack/client</code> which returns the error message or errorCode of a specific field in a ServiceStack Error Response. Any Errors that aren't covered by specific field errors are shown in the form's summary <code>&lt;v-alert/&gt;</code> component. Here's the Vue Template which utilizes all these features using declarative markup:</p>
<div class="v-pre">
<pre><code class="language-html">&lt;template&gt;

&lt;v-form v-model=&quot;valid&quot; ref=&quot;form&quot; lazy-validation&gt;
  &lt;v-container&gt;
    &lt;v-alert outline color=&quot;error&quot; icon=&quot;warning&quot; :value=&quot;errorSummary&quot;&gt;{‎{ errorSummary }‎}&lt;/v-alert&gt;
    &lt;v-layout column&gt;

      &lt;v-text-field
        label=&quot;Name&quot;
        v-model=&quot;name&quot;
        required                        
        :rules=&quot;nameRules&quot;
        :counter=&quot;nameCounter&quot;
        :error-messages=&quot;errorResponse('name')&quot;
        &gt;&lt;/v-text-field&gt;

      &lt;v-text-field
        label=&quot;Slug&quot;
        v-model=&quot;slug&quot;
        required
        :rules=&quot;slugRules&quot;
        :counter=&quot;slugCounter&quot;
        :error-messages=&quot;errorResponse('slug')&quot;
        &gt;&lt;/v-text-field&gt;

      &lt;v-text-field
        label=&quot;Summary&quot;
        v-model=&quot;description&quot;
        :counter=&quot;summaryCounter&quot;
        multi-line
        :rows=&quot;2&quot;
        :rules=&quot;summaryRulesOptional&quot;
        :error-messages=&quot;errorResponse('description')&quot;
        &gt;&lt;/v-text-field&gt;

      &lt;v-select
        label=&quot;Select Technologies&quot;
        autocomplete
        :loading=&quot;loading&quot;
        multiple
        chips
        :error-messages=&quot;errorResponse('technologyIds')&quot;
        :items=&quot;technologySelectItems&quot;
        v-model=&quot;technologyIds&quot;
        &gt;&lt;/v-select&gt;

    &lt;/v-layout&gt;
  &lt;/v-container&gt;
&lt;/v-form&gt;

&lt;v-layout&gt;
    &lt;v-flex xs2&gt;
      &lt;v-btn small @click=&quot;submit&quot; color=&quot;primary&quot; :disabled=&quot;!valid || loading&quot;&gt;
        {‎{category ? 'Update' : 'Add'}‎}
      &lt;/v-btn&gt;
    &lt;/v-flex&gt;
    &lt;v-flex xs2&gt;
      &lt;v-btn small @click=&quot;reset()&quot;&gt;Close&lt;/v-btn&gt;
    &lt;/v-flex&gt;
    &lt;v-flex xs4&gt;&lt;/v-flex&gt;
    &lt;v-flex&gt;
      &lt;v-layout&gt;
        &lt;v-checkbox small label=&quot;confirm&quot; v-model=&quot;allowDelete&quot;&gt;&lt;/v-checkbox&gt;
        &lt;v-btn small @click=&quot;remove&quot; :disabled=&quot;!allowDelete&quot;&gt;
            Delete
        &lt;/v-btn&gt;                    
      &lt;/v-layout&gt;
    &lt;/v-flex&gt;
&lt;/v-layout&gt;

&lt;/template&gt;
</code></pre>
</div>
<p>Which renders the UI for Updating or Adding new Categories that looks like:</p>
<p><img src="/img/pages/release-notes/techstacks-category-update.png" alt="" /></p>
<p>The documented implementation below explains the different parts of the component:</p>
<pre><code class="language-js">import { mapGetters } from &quot;vuex&quot;;
import { toObject, errorResponse, errorResponseExcept } from &quot;@servicestack/client&quot;;

const category = { // All fields to send to the gateway when Updating or Adding a new Category
  organizationId: null,
  id: null,
  name: &quot;&quot;,
  slug: &quot;&quot;,
  description: &quot;&quot;,
  technologyIds: [],
};

export default {
  computed: {
    errorSummary(){ // Return any other error that isn't assigned to an Input Control in the Forms Alert Component
      return errorResponseExcept.call(this,'name,slug,description,technologyIds'.split(','));
    },
    isUpdate(){     // Whether this component is updating an existing category or creating a new one
      return this.category != null; 
    },
    ...mapGetters([&quot;loading&quot;, &quot;isAuthenticated&quot;, &quot;isAdmin&quot;, &quot;user&quot;, &quot;technologySelectItems&quot;])
  },

  //...
  methods: {

    reset(changed, deleted) {                 // Reset form back to initial empty state
        this.responseStatus = this.name = this.slug = this.description = this.id = null;
        this.technologyIds = [];
        this.$emit('done', changed, deleted); // Fire @done callback allowing parent component to close this form
    },

    async submit() {
      if (this.$refs.form.validate()) {  // Validate any client-side validation rules before continuing
          try {
            this.$store.commit('loading', true); // Set global 'loading' state for the App &amp; disable submit button
            
            // Create an object populated with all category property values in this Component
            const fields = toObject.call(this, Object.keys(category));

            const response = this.isUpdate       // Either Add a New or Update Existing Category
                ? await updateCategory(fields)
                : await addCategory(fields);
              
            this.reset(true); // Reset form back to initial empty state
          } catch(e) {
              this.responseStatus = e.responseStatus || e; // Bind ServiceStack's ErrorResponse to this Component
          } finally {
              this.$store.commit('loading', false); // Unset the 'loading' state
          }
      }
    },

    async remove() {
      try {
        this.$store.commit('loading', true);
        
        const response = await deleteCategory(this.organizationId, this.id);

        this.reset(true,true);
      } catch(e) {
          this.responseStatus = e.responseStatus || e;
      } finally {
          this.$store.commit('loading', false);
      }
    },

    errorResponse,          // Make the errorResponse method available to the template
  },

  mounted() {
      if (this.isUpdate) {  // If this component was called with an existing category, populate its fields
        Object.assign(this, this.category);
      } else {
        this.organizationId = this.orgId; // Assign which organization to add new Category to
      }
  },

  data: () =&gt; ({
      ...category,           // Make all properties in category reactive field in this component
      valid: true,           // Whether to show the user 
      allowDelete: false,    // Unlock delete button when user checks 'Confirm' checkbox
      nameCounter, nameRules, slugCounter, slugRules, summaryCounter, summaryRulesOptional,
      responseStatus: null,  // placeholder for ServiceStack's structured Error Response
  }),
}
</code></pre>
<p>The functionality relevant to ServiceStack includes assigning <code>this.responseStatus</code> which is all that's required to bind the Services structured Error Response to the Form and Input Controls:</p>
<pre><code class="language-js">catch(e) {
    this.responseStatus = e.responseStatus || e; // Bind ServiceStack's ErrorResponse to this Component
}
</code></pre>
<p>The code that sends the API Requests for Updating and Adding a new Category is:</p>
<pre><code class="language-js">// Create an object populated with all category property values in this Component
const fields = toObject.call(this, Object.keys(category));

const response = this.isUpdate
    ? await updateCategory(fields)
    : await addCategory(fields);
</code></pre>
<p>Which calls the methods below defined in <a href="https://github.com/NetCoreApps/TechStacks/blob/master/src/TechStacks/src/shared/gateway.js">gateway.js</a> which encapsulates all API access sent within the App. All the custom logic for Adding, Updating and Deleting categories is just:</p>
<pre><code class="language-js">export const addCategory = async(args) =&gt; 
  await client.post(Object.assign(new AddOrganizationCategory(), args));

export const updateCategory = async(args) =&gt; 
  await client.put(Object.assign(new UpdateOrganizationCategory(), args));

export const deleteCategory = async(organizationId, id) =&gt; 
  await client.delete(new DeleteOrganizationCategory(), { organizationId, id });
</code></pre>
<p>Which is just using the DTOs generated with <code>npm run dtos</code> with ServiceStack's generic <code>JsonServiceClient</code>.</p>
</div>

                <div class="not-prose"></div>
                
                    <div class="not-prose py-8">
                        <a class="text-slate-500 font-semibold hover:text-indigo-600 flex items-center" href="https://github.com/ServiceStack/docs.servicestack.net/blob/main/MyApp/_pages/templates/vuetify.md" target="_blank" rel="noopener noreferrer">
                            Edit this page on GitHub<svg class="ml-1 inline-block w-4 h-4" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" data-v-1ed99556=""><path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path><polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon></svg>
                        </a>
                    </div>

                    <div class="not-prose my-20">
                                <nav class="flex items-center justify-between border-t border-gray-200 dark:border-gray-700 px-4 sm:px-0">
                                    <div class="-mt-px flex w-0 flex-1">
                                            <a href="/templates/lite" class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 dark:hover:border-gray-600 hover:text-gray-700 dark:hover:text-gray-200">
                                                <!-- Heroicon name: mini/arrow-long-left -->
                                                <svg class="mr-3 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z" clip-rule="evenodd"></path>
                                                </svg>
                                                Vue and React &quot;lite&quot; Templates
                                            </a>
                                    </div>
                                    <div class="hidden md:-mt-px md:flex"></div>
                                    <div class="-mt-px flex w-0 flex-1 justify-end">
                                            <a href="/templates/nuxt" class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 dark:hover:border-gray-600 hover:text-gray-700 dark:hover:text-gray-200">
                                                Nuxt Templates
                                                <!-- Heroicon name: mini/arrow-long-right -->
                                                <svg class="ml-3 h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"></path>
                                                </svg>
                                            </a>
                                    </div>
                                </nav>
                    </div>
            </div>
                
                <div class="docmap hidden 2xl:block flex-none w-64 pl-8 mr-8">
                    <div class="fixed bg-white dark:bg-black flex flex-col overflow-y-auto pt-10 px-8 pb-6" style="height:calc(100vh - 50px);">
                        <div>
                            <h5 class="text-slate-900 font-semibold mb-4 text-sm leading-6 dark:text-slate-100">
                                On This Page
                            </h5>
                            <ul class="text-slate-700 text-sm leading-6">
                                    <li class="group text-gray-800 hover:text-gray-900">
                                        <span v-hash="'#vue-app'" data-id="vue-app" class="cursor-pointer font-medium block text-sm transform transition-colors duration-200 py-2">
                                            Vue App
                                        </span>
                                    </li>
                                    <li class="group text-gray-800 hover:text-gray-900">
                                        <span v-hash="'#vue-nuxt-app'" data-id="vue-nuxt-app" class="cursor-pointer font-medium block text-sm transform transition-colors duration-200 py-2">
                                            Vue Nuxt App
                                        </span>
                                            <ul class="ml-4">
                                                    <li data-id="client-server-validation-with-vuetify" class="text-gray-500 hover:text-gray-900">
                                                        <span v-hash="'#client-server-validation-with-vuetify'" class="cursor-pointer flex text-sm transform transition-colors duration-200 py-2">
                                                            <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 overflow-visible"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path></svg>
                                                            Client / Server Validation with Vuetify
                                                        </span>
                                                    </li>
                                            </ul>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>    
</div>

<script>
//doc instructions
if (document.querySelector('.hide-title')) {
    const el = document.querySelector('#doc section h1') 
    if (el) el.style.display='none'
}
</script>

<script type="module">
import { ref } from "vue"
import { mount } from "app.mjs"


    const App = {
        setup() {
            function nav(url) {
                window.open(url)
            }
            return { nav }
        }
    }
    
const Sidebar = {
    setup() {
        const open = ref(true)
        return { open }
    }
}

mount('#doc', App)
mount('#sidebar', Sidebar)
</script>

<script src="/lib/js/highlight.js"></script>
<script>hljs.highlightAll()</script>
<script src="/lib/js/lite-yt-embed.js"></script>
<script src="/mjs/docs.mjs" type="module"></script>


    </main>
</div>

<script type="module">
import { init } from "app.mjs"
init()
</script>





</body>
</html>