

<h4 id="index.html">index.html<a class="header-anchor" href="javascript:;" onclick="location.hash='#index.html'" aria-label="Permalink">&ZeroWidthSpace;</a></h4>
<pre><code class="language-html">{{ 'requires-auth' | partial }}

{{#raw}}
&lt;template&gt;
    &lt;v-layout justify-center&gt;
        &lt;v-flex xs6&gt;
            &lt;v-toolbar color=&quot;pink&quot;&gt;
                &lt;v-toolbar-title class=&quot;white--text&quot;&gt;
                    {{ heading }}
                &lt;/v-toolbar-title&gt;
            &lt;/v-toolbar&gt;
            &lt;v-card&gt;
                &lt;v-form v-model=&quot;valid&quot; ref=&quot;form&quot; lazy-validation @keyup.native.enter=&quot;submit&quot;&gt;
                    &lt;v-container&gt;
                        &lt;v-alert outline color=&quot;error&quot; icon=&quot;warning&quot; :value=&quot;errorSummary&quot;&gt;{{ errorSummary }}&lt;/v-alert&gt;
                        &lt;v-layout column&gt;

                            &lt;v-radio-group 
                                    v-model=&quot;title&quot;
                                    :error-messages=&quot;errorResponse('title')&quot;
                                    row
                                &gt;&lt;v-radio
                                        v-for=&quot;x in contactTitles&quot;
                                        :key=&quot;x.key&quot;
                                        :label=&quot;x.value&quot;
                                        :value=&quot;x.key&quot;
                                &gt;&lt;/v-radio&gt;
                            &lt;/v-radio-group&gt;                            

                            &lt;v-text-field
                                    label=&quot;Name&quot;
                                    v-model=&quot;name&quot;
                                    required
                                    :rules=&quot;nameRules&quot;
                                    :error-messages=&quot;errorResponse('name')&quot;
                            &gt;&lt;/v-text-field&gt;

                            &lt;v-select v-model=&quot;color&quot;
                                      :items=&quot;contactColors&quot;
                                      label=&quot;Favorite color&quot;
                                      :error-messages=&quot;errorResponse('color')&quot;
                                      solo
                            &gt;&lt;/v-select&gt;

                            &lt;v-radio-group class=&quot;mb-3&quot; :error-messages=&quot;errorResponse('filmGenres')&quot;&gt;
                                &lt;v-checkbox
                                        v-for=&quot;x in contactGenres&quot;
                                        v-model=&quot;filmGenres&quot;
                                        :key=&quot;x&quot;
                                        :label=&quot;x&quot;
                                        :value=&quot;x&quot;
                                &gt;&lt;/v-checkbox&gt;
                            &lt;/v-radio-group&gt;

                            &lt;v-layout&gt;
                                &lt;v-flex xs4&gt;
                                    &lt;v-text-field
                                            v-model=&quot;age&quot;
                                            class=&quot;mt-0&quot;
                                            label=&quot;Age&quot;
                                            type=&quot;number&quot;
                                            :error-messages=&quot;errorResponse('age')&quot;
                                    &gt;&lt;/v-text-field&gt;
                                &lt;/v-flex&gt;
                            &lt;/v-layout&gt;

                            &lt;v-checkbox v-if=&quot;!update&quot;
                                    label=&quot;Agree to terms and conditions&quot; 
                                    v-model=&quot;agree&quot;
                                    :value=&quot;true&quot;
                                    :rules=&quot;[v =&gt; v || 'You must agree to our terms']&quot;
                                    :error-messages=&quot;errorResponse('agree')&quot;
                            &gt;&lt;/v-checkbox&gt;

                        &lt;/v-layout&gt;
                    &lt;/v-container&gt;
                &lt;/v-form&gt;
                &lt;v-card-actions&gt;
                    &lt;v-flex&gt;
                        &lt;v-btn large class=&quot;mb-2&quot; color=&quot;primary&quot; @click=&quot;submit&quot; :disabled=&quot;!valid || loading&quot;&gt;
                            {{ action }}
                        &lt;/v-btn&gt;
                        &lt;v-btn flat @click=&quot;reset&quot;&gt;reset&lt;/v-btn&gt;
                        &lt;v-btn v-if=&quot;update&quot; flat @click=&quot;cancel&quot;&gt;cancel&lt;/v-btn&gt;
                    &lt;/v-flex&gt;
                &lt;/v-card-actions&gt;
            &lt;/v-card&gt;
            &lt;v-flex&gt;
                &lt;v-toolbar&gt;
                    &lt;v-toolbar-title&gt;
                        Contacts
                    &lt;/v-toolbar-title&gt;
                &lt;/v-toolbar&gt;
                &lt;v-card&gt;
                    &lt;v-layout v-for=&quot;c in contacts&quot; :key=&quot;c.id&quot; :style=&quot;`background:${c.color}`&quot;&gt;
                        &lt;v-flex&gt;
                            &lt;h3 class=&quot;pa-3 title&quot;&gt;{{c.title}} {{c.name}} ({{c.age}})&lt;/h3&gt;
                        &lt;/v-flex&gt;
                        &lt;v-btn flat @click=&quot;edit(c.id)&quot;&gt;edit&lt;/v-btn&gt;
                        &lt;v-btn @click=&quot;remove(c.id)&quot;&gt;delete&lt;/v-btn&gt;
                    &lt;/v-layout&gt;
                    &lt;v-layout v-if=&quot;!contacts.length&quot;&gt;
                        &lt;v-flex&gt;
                            &lt;h3 class=&quot;pa-3 title&quot;&gt;There are no contacts.&lt;/h3&gt;
                        &lt;/v-flex&gt;
                    &lt;/v-layout&gt;
                &lt;/v-card&gt;
            &lt;/v-flex&gt;

            &lt;div class=&quot;src&quot;&gt;
                &lt;h4&gt;Source Code and References&lt;/h4&gt;
                &lt;div&gt;&lt;a href=&quot;https://github.com/NetCoreApps/Validation/blob/master/world/wwwroot/vuetify/_layout.html&quot; class=&quot;ref&quot;&gt;/vuetify/_layout.html&lt;/a&gt;&lt;/div&gt;
                &lt;div&gt;&lt;a href=&quot;https://github.com/NetCoreApps/Validation/blob/master/world/wwwroot/vuetify/contacts/index.html&quot; class=&quot;ref&quot;&gt;/vuetify/contacts/index.html&lt;/a&gt;&lt;/div&gt;
                &lt;div&gt;&lt;a href=&quot;https://github.com/NetCoreApps/Validation/blob/master/world/wwwroot/vuetify/contacts/index.ts&quot; class=&quot;ref&quot;&gt;/vuetify/contacts/index.ts&lt;/a&gt;&lt;/div&gt;
                &lt;div&gt;&lt;a href=&quot;https://github.com/NetCoreApps/Validation/blob/master/world/wwwroot/dtos.ts&quot; class=&quot;ref&quot;&gt;/dtos.ts&lt;/a&gt;&lt;/div&gt;
            &lt;/div&gt;
        &lt;/v-flex&gt;
    &lt;/v-layout&gt;

&lt;/template&gt;
{{/raw}}


{{#capture appendTo scripts}}
&lt;script&gt;
var colors = {{ contactColors | json }};
var DATA = {
    contacts: {{ sendToGateway('GetContacts') | map =&gt; it.Results | json }},
    contactTitles: {{ contactTitles | json }},
    contactColors: Object.keys(colors).map(k =&gt; ({ text:colors[k], value:k })),
    contactGenres: {{ contactGenres | json }}
};
&lt;/script&gt;
&lt;script src=&quot;index.js&quot;&gt;&lt;/script&gt;
{{/capture}}
</code></pre>
<h4 id="index.ts">index.ts<a class="header-anchor" href="javascript:;" onclick="location.hash='#index.ts'" aria-label="Permalink">&ZeroWidthSpace;</a></h4>
<pre><code class="language-ts">import { Vue } from 'vue';
import { errorResponse, errorResponseExcept, queryString } from '@servicestack/client';
import { client, nameRules, } from '../shared';
import {CreateContact, DeleteContact, GetContact, GetContacts, Title, UpdateContact} from '../../dtos';

declare var DATA:any;

new Vue({
    el: '#app',
    computed: {
        heading: function() {
            return this.update ? 'Edit new Contact' : 'Add new Contact';
        },
        action: function() {
            return this.update? 'Update Contact' : 'Add Contact';
        },
        errorSummary: function() {
            return errorResponseExcept.call(this, 'title,name,color,filmGenres,age,agree');
        },
    },
    methods: {
        async submit() {
            const form = (this.$refs.form as HTMLFormElement); 
            if (form.validate()) {
                try {
                    this.loading = true;
                    
                    const request = {
                        title: this.title as Title,
                        name: this.name,
                        color: this.color,
                        filmGenres: this.filmGenres,
                        age: this.age,
                    };
                    
                    if (this.update) {
                        await client.post(new UpdateContact({...request, id: this.id }));
                    } else {
                        await client.post(new CreateContact({...request, agree: this.agree }));
                    }

                    this.update = false;
                    this.responseStatus = null;
                    form.reset();
                    
                } catch (e) {
                    this.responseStatus = e.responseStatus || e;
                } finally {
                    this.loading = false;
                    form.resetValidation();
                }
                await this.refresh();
            }
        },
        async refresh() {
            this.contacts = (await client.get(new GetContacts())).results;
        },
        reset() {
            (this.$refs.form as HTMLFormElement).reset();
        },
        cancel() {
            this.reset();
            this.update = false;
        },
        async edit(id:number) {
          this.update = true;
          const contact = (await client.get(new GetContact({ id }))).result;
          Object.assign(this, contact);
        },
        async remove(id:number) {
            if (!confirm('Are you sure?'))
                return;

            await client.delete(new DeleteContact({ id }));
            const response = await client.get(new GetContacts());
            await this.refresh();
        },
        errorResponse
    },
    async mounted() {
        const qs = queryString(location.href);
        if (qs['id'])
            await this.edit(parseInt(qs['id']))
    },
    data: () =&gt; ({
        loading: false,
        valid: true,
        update: false, 
        ...DATA,

        id:0,
        title: &quot;&quot;,
        name: &quot;&quot;,
        color: &quot;&quot;,
        filmGenres: [],
        age: 13,
        agree: false,
        nameRules,
        responseStatus: null
    }),
});
</code></pre>
