

<h4 id="login.html">login.html<a class="header-anchor" href="javascript:;" onclick="location.hash='#login.html'" aria-label="Permalink"> </a></h4>
<pre><code class="language-html">{{#raw}}
&lt;template&gt;
&lt;v-layout justify-center&gt;
    &lt;v-flex xs5&gt;
        &lt;v-toolbar color=&quot;pink&quot;&gt;
            &lt;v-toolbar-title class=&quot;white--text&quot;&gt;
                Sign In using credentials
            &lt;/v-toolbar-title&gt;
        &lt;/v-toolbar&gt;
        &lt;v-card&gt;
            &lt;v-form v-model=&quot;valid&quot; ref=&quot;form&quot; lazy-validation @keyup.native.enter=&quot;submit&quot;&gt;
                &lt;v-container&gt;
                    &lt;v-alert outline color=&quot;error&quot; icon=&quot;warning&quot; :value=&quot;errorSummary&quot;&gt;{{ errorSummary }}&lt;/v-alert&gt;
                    &lt;v-layout column&gt;

                        &lt;v-text-field
                                label=&quot;Email&quot;
                                v-model=&quot;userName&quot;
                                required
                                :rules=&quot;emailRules&quot;
                                :error-messages=&quot;errorResponse('userName')&quot;
                        &gt;&lt;/v-text-field&gt;

                        &lt;v-text-field
                                label=&quot;Password&quot;
                                v-model=&quot;password&quot;
                                type=&quot;password&quot;
                                required
                                :rules=&quot;passwordRules&quot;
                                :error-messages=&quot;errorResponse('password')&quot;
                        &gt;&lt;/v-text-field&gt;

                        &lt;v-checkbox label=&quot;Remember Me&quot; v-model=&quot;rememberMe&quot;&gt;&lt;/v-checkbox&gt;

                    &lt;/v-layout&gt;
                &lt;/v-container&gt;
            &lt;/v-form&gt;
            &lt;v-card-actions&gt;
                &lt;v-flex offset-xs2 mb-2&gt;
                    &lt;v-btn flat href=&quot;/vuetify/register&quot; :disabled=&quot;!valid || loading&quot;&gt;Register New User&lt;/v-btn&gt;
                    &lt;v-btn color=&quot;primary&quot; @click=&quot;submit&quot; :disabled=&quot;!valid || loading&quot;&gt;Sign In&lt;/v-btn&gt;
                &lt;/v-flex&gt;
            &lt;/v-card-actions&gt;
        &lt;/v-card&gt;
        &lt;v-flex&gt;
            &lt;v-toolbar&gt;
                &lt;v-toolbar-title&gt;
                    Quick Login
                &lt;/v-toolbar-title&gt;
            &lt;/v-toolbar&gt;
            &lt;v-card&gt;
                &lt;v-layout&gt;
                    &lt;v-flex&gt;
                        &lt;v-btn @click=&quot;switchUser('admin@email.com')&quot; flat&gt;admin@email.com&lt;/v-btn&gt;
                    &lt;/v-flex&gt;
                    &lt;v-flex&gt;
                        &lt;v-btn @click=&quot;switchUser('new@user.com')&quot; flat&gt;new@user.com&lt;/v-btn&gt;
                    &lt;/v-flex&gt;
                &lt;/v-layout&gt;
            &lt;/v-card&gt;
        &lt;/v-flex&gt;

        &lt;div class=&quot;src&quot;&gt;
            &lt;h4&gt;Source Code and References&lt;/h4&gt;
            &lt;div&gt;&lt;a href=&quot;https://github.com/NetCoreApps/Validation/blob/master/world/wwwroot/vuetify/_layout.html&quot; class=&quot;ref&quot;&gt;/vuetify/_layout.html&lt;/a&gt;&lt;/div&gt;
            &lt;div&gt;&lt;a href=&quot;https://github.com/NetCoreApps/Validation/blob/master/world/wwwroot/vuetify/login.html&quot; class=&quot;ref&quot;&gt;/vuetify/login.html&lt;/a&gt;&lt;/div&gt;
            &lt;div&gt;&lt;a href=&quot;https://github.com/NetCoreApps/Validation/blob/master/world/wwwroot/vuetify/login.ts&quot; class=&quot;ref&quot;&gt;/vuetify/login.ts&lt;/a&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/v-flex&gt;
&lt;/v-layout&gt;
&lt;/template&gt;
{{/raw}}

{{#capture appendTo scripts}}
&lt;script&gt;var CONTINUE = '{{ qs.redirect ?? &quot;/vuetify/&quot; }}';&lt;/script&gt;
&lt;script src=&quot;login.js&quot;&gt;&lt;/script&gt;
{{/capture}}
</code></pre>
<h4 id="login.ts">login.ts<a class="header-anchor" href="javascript:;" onclick="location.hash='#login.ts'" aria-label="Permalink"> </a></h4>
<pre><code class="language-ts">import { Vue } from 'vue';
import { errorResponse, errorResponseExcept } from '@servicestack/client';
import { client, emailRules, passwordRules } from './shared';
import { Authenticate } from &quot;../dtos&quot;;

declare var CONTINUE:any;

new Vue({
    el: '#app',
    computed: {
        errorSummary: function() {
            return errorResponseExcept.call(this, 'userName,password');
        }, 
    },
    methods: {
        async submit() {
            const form = (this.$refs.form as HTMLFormElement);
            if (form.validate()) {
                try {
                    this.loading = true;

                    const response = await client.post(new Authenticate({
                        provider: 'credentials',
                        userName: this.userName,
                        password: this.password,
                        rememberMe: this.rememberMe,
                    }));

                    location.href = CONTINUE;
                } catch (e) {
                    this.responseStatus = e.responseStatus || e;
                } finally {
                    this.loading = false;
                    form.resetValidation();
                }
            }
        },
        switchUser(email:string) {
            this.userName = email;
            this.password = 'p@55wOrd';
        },
        errorResponse
    },
    data: () =&gt; ({
        loading: false,
        valid: true,
        userName: &quot;&quot;,
        password: &quot;&quot;,
        rememberMe: true,
        emailRules, passwordRules,
        responseStatus: null
    }),
});
</code></pre>
